backend:
  name: github
  repo: precious-prana/precious-prana.com
  branch: main

site_url: https://precious-prana-2026.netlify.app

logo:
  src: https://precious-prana-2026.netlify.app/favicon-256.png
  show_in_header: true

locale: 'fr'

media_folder: 'src/static/media'
public_folder: 'media'
publish_mode: simple

show_preview_links: false

slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "-"

collections:
  - name: 'agenda'
    label: 'Agenda'
    label_singular: 'agenda'
    folder: 'src/collections/agenda'
    path: '{{slug}}'
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    summary: '{{year}}/{{month}}/{{day}} ▸ {{title}}'
    create: true
    view_groups:
    - label: Year
      field: date
      # groups items based on the value matched by the pattern
      pattern: \d{4}
    - label: Drafts
      field: draft
    fields:
      - label: 'Titre'
        name: 'title'
        widget: 'string'
        tagname: 'h1'
      - label: 'Date'
        name: 'date'
        widget: 'datetime'
        format: 'YYYY-MM-DD'
        date_format: 'YYYY-MM-DD'
        time_format: false
        default: '{{now}}'
      - label: 'Brouillon'
        name: 'draft'
        widget: 'boolean'
        default: true
        required: false
        hint: 'Ne sera pas affiché sur le site tant que coché'
      - label: 'Formulaire d‘inscription'
        name: 'form_url'
        widget: 'string'
        default: ''
        required: false
      - label: 'Afficher sur la page d‘accueil'
        name: 'show_homepage'
        widget: 'boolean'
        default: false
        hint: 'Afficher cet événement dans la section "Prochains événements" de la page d‘accueil'
      - label: 'Poster'
        name: 'poster'
        widget: 'image'
        media_folder: 'media'
        required: false
      - label: 'Moodboard'
        name: 'moodboard'
        widget: 'image'
        media_folder: 'media'
        required: false
      - label: 'Ateliers'
        name: 'ateliers'
        widget: 'relation'
        hint: 'Sélectionner les ateliers associés à cet événement'
        collection: 'ateliers'
        search_fields: ['title']
        value_field: '{{slug}}'
        display_fields: ['title']
        multiple: true
      - label: 'Lieu'
        name: 'lieu'
        widget: 'relation'
        hint: 'Sélectionner le lieu associé à cet événement'
        collection: 'lieux'
        search_fields: ['title']
        value_field: '{{slug}}'
        display_fields: ['title']
        multiple: false
      - label: 'Contenu'
        name: 'body'
        widget: 'markdown'
        hint: 'Description de l‘atelier'
  - name: 'interviews'
    label: 'Interviews'
    label_singular: 'interview'
    folder: 'src/collections/interviews'
    path: '{{slug}}'
    slug: '{{slug}}'
    summary: '{{title}}'
    create: true
    fields:
      - label: 'Titre'
        name: 'title'
        widget: 'string'
        tagname: 'h1'
      - label: 'Sous-titre'
        name: 'subtitle'
        widget: 'string'
        required: false
      - label: 'Brouillon'
        name: 'draft'
        widget: 'boolean'
        default: true
        required: false
        hint: 'Ne sera pas affiché sur le site tant que coché'
      - label: 'Ateliers'
        name: 'ateliers'
        widget: 'relation'
        hint: 'Sélectionner les ateliers associés à cette interview'
        collection: 'ateliers'
        search_fields: ['title']
        value_field: '{{slug}}'
        display_fields: ['title']
        multiple: true
      - label: 'Contenu'
        name: 'body'
        widget: 'markdown'
        hint: 'Contenu de l‘interview'
  - name: 'ateliers'
    label: 'Ateliers'
    label_singular: 'atelier'
    folder: 'src/collections/ateliers'
    path: '{{slug}}'
    slug: '{{slug}}'
    summary: '{{title}}'
    create: true
    fields:
      - label: 'Titre'
        name: 'title'
        widget: 'string'
        tagname: 'h1'
      - label: 'Brouillon'
        name: 'draft'
        widget: 'boolean'
        default: true
        required: false
        hint: 'Ne sera pas affiché sur le site tant que coché'
      - label: 'Ordre'
        name: 'order'
        widget: 'number'
        value_type: 'int'
        default: 0
        hint: 'Ordre d‘affichage dans la liste des ateliers'
      - label: 'Contenu'
        name: 'body'
        widget: 'markdown'
        hint: 'Description de l‘atelier'
  - name: 'lieux'
    label: 'Lieux'
    label_singular: 'lieu'
    folder: 'src/collections/lieux'
    path: '{{slug}}'
    slug: '{{slug}}'
    summary: '{{title}}'
    create: true
    editor:
      preview: false
    fields:
      - label: 'Titre'
        name: 'title'
        widget: 'string'
        tagname: 'h1'
      - label: 'Brouillon'
        name: 'draft'
        widget: 'boolean'
        default: true
        required: false
        hint: 'Ne sera pas affiché sur le site tant que coché'
      - label: 'Adresse'
        name: 'address'
        widget: 'string'
        default: ''
        hint: 'Numéro et rue'
      - label: 'Code postal'
        name: 'postalcode'
        widget: 'string'
        default: ''
      - label: 'Ville'
        name: 'city'
        widget: 'string'
        default: ''
      - label: 'URL'
        name: 'url'
        widget: 'string'
        default: ''
  - name: 'pages'
    label: 'Pages'
    label_singular: 'page'
    folder: 'src/pages'
    path: ''
    slug: '{{slug}}'
    summary: '{{title}}'
    create: true
    fields:
      - label: 'Titre'
        name: 'title'
        widget: 'string'
        tagname: 'h1'
      - label: 'Ordre dans la navigation'
        name: 'navorder'
        widget: 'number'
        default: 0
        hint: 'Ordre dans la navigation, 0 pour ne pas l‘afficher'
      - label: 'Image de couverture'
        name: 'image'
        widget: 'image'
        media_folder: ''
        required: false
      - label: 'Texte'
        name: 'body'
        widget: 'markdown'
        hint: 'Contenu de la page'
