---
layout: null
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Content Manager</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
    <script>
    CMS.registerPreviewStyle("{% getBundleFileUrl "css", "preview" %}");

    var PreciousPranaPreview = createClass({
      render: function() {
        var entry = this.props.entry;
        console.dir(entry.getIn(['data']));
        return h('div', {},
          h('h1', {}, entry.getIn(['data', 'title'])),
          h('table', {},
            h('tr', {},
              h('th', {}, 'Date'),
              h('td', {}, entry.getIn(['data', 'date']))
            ),
            h('tr', {},
              h('th', {}, 'Ateliers'),
              h('td', {}, entry.getIn(['data', 'ateliers']).join(', '))
            ),
            h('tr', {},
              h('th', {}, 'Lieu'),
              h('td', {}, entry.getIn(['data', 'lieu']))
            )
          ),
          h('div', {"className": "text"}, this.props.widgetFor('body'))
        );
      }
    });

    CMS.registerPreviewTemplate("agenda", PreciousPranaPreview);
    </script>
  </body>
</html>

{%- css "preview" %}{% renderFile "src/assets/sass/preview.scss" %}{% endcss %}
